<!DOCTYPE html>
<html lang="ja">
  <head>
    <meta charset="utf-8" />

    <title>テストWebアプリ</title>
    <link rel="stylesheet" href="/static/css/style.css" />
    <script src="/static/javascript/sample.js"></script>
  </head>
  <body>
    <h1>試作 スタッフ情報管理アプリ</h1>
    <img
      src="https://cdn.glitch.com/3e4efa0a-44f3-4446-95d4-d885dc57c288%2F040.jpg?v=1614442806246"
      alt="表示できません"
    />
    <p></p>

    {{ insert_something }}
    <p></p>
    <a href="/info">一覧ページ</a>

    <p>{{insert_forms|safe}}</p>
    <form action="{% url 'webtestapp:index' %}" method="post">
      {% csrf_token %}
      <p>
        <!--
        <tr>
          <td></td>
          <td>入力フォーム</td>
        </tr>
      </p>

      {{ form.as_table }}
      <p>
        
        <tr>
          <td></td>
          <td><input type="submit" value="送信" /></td>
        </tr>
        -->
      </p>
    </form>
  </body>
</html>
