

  <body>
    <h1>{{ title }}</h1>
    <table>
      <tr>
      {% for h in header %}
        <th>{{ h }}</th>
      {% endfor %}
      </tr>

      {% for i in val %}
      <tr>
        <td>{{ i.id }}</td>
        <td>{{ i.name }}</td>
        <td>{{ i.mail }}</td>
        <td>{% if i.gender == 0 %}男{% endif %}
            {% if i.gender == 1 %}女{% endif %}</td>
        <td>{{ i.department }}</td>
        <td>{{ i.year }}</td>
        <td>{{ i.created_at }}</td>
        <td><a href="{% url 'webtestapp:update' i.id %}">更新</a></td>
      </tr>
      {% endfor %}
  </table>
  <form action="{% url 'webtestapp:search' %}" method="post">
    {% csrf_token %}
    <p>
      ID：<input type="int" name="a" id="a" value="" size="40">
    </p>
    <p>
      名前：<input type="text" name="b" id="b" value="" size="40">
    </p>
    <p>
      メール：<input type="text" name="c" id="c" value="" size="40">
    </p>
    <p>
      性別：<input type="radio" name="False" id="d1" value="False">男
      <input type="radio" <!-- name="True" id="d2" value="True">女
    </p>
    <p>
      部署：<input type="text" name="e" id="e" value="" size="40">
    </p>
    <p>
      社歴：<input type="text" name="f" id="f" value="" size="40">
    </p>
    <p>
      <input type="hidden" name="g" id="g" value="" size="40">
    </p>
    <input type="submit" value="送信"><input type="reset" value="リセット">
  </form>
  <a href="/index.html">戻る</a>
  </body>
